In [ ]:
#Jaime Andres Montemayor Molina
#A01176573

In [6]:
import numpy as np 
import pandas as pd

In [102]:
#Pregunta 1
df = pd.read_csv("LoL-Champions.csv")
df.head(7)

,Id,Name,Class,Style,Difficulty,DamageType,Damage,Sturdiness,Crowd-Control,Mobility,Functionality
0,1,Aatrox,Warrior,3,2,P,3,3,2,2,2.0
1,2,Ahri,Mage,10,2,M,3,1,2,3,1.0
2,3,Akali,Assasin,7,2,PM,3,1,1,3,1.0
3,4,Alistar,Tank-Support,7,1,M,1,3,3,1,2.0
4,5,Amumu,Tank,9,1,M,2,3,3,1,1.0
5,6,Anivia,Mage,10,3,M,3,1,3,1,2.0
6,7,Annie,Mage,10,1,M,3,1,3,1,2.0

In [28]:
#Pregunta 2
df.tail(5)

,Id,Name,Class,Style,Difficulty,DamageType,Damage,Sturdiness,Crowd-Control,Mobility,Functionality
140,141,Zed,Assasin,6,3,P,3,1,1,3,1.0
141,142,Ziggs,Mage,9,2,M,3,1,2,2,1.0
142,143,Zilean,Mage-Support,10,2,M,2,1,2,2,3.0
143,144,Zoe,Mage,10,3,M,3,1,2,2,1.0
144,145,Zyra,Mage-Support,10,2,M,3,1,3,1,1.0

In [103]:
#Pregunta 3
df = df.drop(columns=['Id'])
df = df.set_index('Name')
df

,Class,Style,Difficulty,DamageType,Damage,Sturdiness,Crowd-Control,Mobility,Functionality
Name,,,,,,,,,
Aatrox,Warrior,3,2,P,3,3,2,2,2.0
Ahri,Mage,10,2,M,3,1,2,3,1.0
Akali,Assasin,7,2,PM,3,1,1,3,1.0
Alistar,Tank-Support,7,1,M,1,3,3,1,2.0
Amumu,Tank,9,1,M,2,3,3,1,1.0
...,...,...,...,...,...,...,...,...,...
Zed,Assasin,6,3,P,3,1,1,3,1.0
Ziggs,Mage,9,2,M,3,1,2,2,1.0
Zilean,Mage-Support,10,2,M,2,1,2,2,3.0
Zoe,Mage,10,3,M,3,1,2,2,1.0
Zyra,Mage-Support,10,2,M,3,1,3,1,1.0

In [104]:
#Pregunta 4
df = df.sort_values(by= 'Name', ascending= False)
display(df)

,Class,Style,Difficulty,DamageType,Damage,Sturdiness,Crowd-Control,Mobility,Functionality
Name,,,,,,,,,
Zyra,Mage-Support,10,2,M,3,1,3,1,1.0
Zoe,Mage,10,3,M,3,1,2,2,1.0
Zilean,Mage-Support,10,2,M,2,1,2,2,3.0
Ziggs,Mage,9,2,M,3,1,2,2,1.0
Zed,Assasin,6,3,P,3,1,1,3,1.0
...,...,...,...,...,...,...,...,...,...
Amumu,Tank,9,1,M,2,3,3,1,1.0
Alistar,Tank-Support,7,1,M,1,3,3,1,2.0
Akali,Assasin,7,2,PM,3,1,1,3,1.0
Ahri,Mage,10,2,M,3,1,2,3,1.0
Aatrox,Warrior,3,2,P,3,3,2,2,2.0

In [105]:
#Pregunta 5
df[df.Class == "Tank"]

,Class,Style,Difficulty,DamageType,Damage,Sturdiness,Crowd-Control,Mobility,Functionality
Name,,,,,,,,,
Shen,Tank,5,2,PM,2,3,2,2,3.0
Sejuani,Tank,8,2,M,2,2,3,2,1.0
Rammus,Tank,7,1,PM,2,3,3,2,1.0
Nunu,Tank,8,1,M,1,3,2,1,2.0
Maokai,Tank,8,1,M,1,3,3,1,2.0
Malphite,Tank,8,1,M,1,3,3,1,1.0
Leona,Tank,9,1,M,1,3,3,1,1.0
Amumu,Tank,9,1,M,2,3,3,1,1.0

In [106]:
#Pregunta 6
noob = pd.DataFrame(df)
noob = noob[noob.Difficulty < 3]
noob.to_csv("noob.csv")

In [107]:
#Pregunta 7 
df = df.rename(columns={"Crowd-Control":"CC"})
df2 = df.loc[(df.DamageType == 'M')&(df.CC == 1)]
df2

,Class,Style,Difficulty,DamageType,Damage,Sturdiness,CC,Mobility,Functionality
Name,,,,,,,,,
Yuumi,Support,10,1,M,1,1,1,3,3.0
Vladimir,Mage-Warrior,10,2,M,3,2,1,1,1.0
Sylas,Mage-Warrior,7,3,M,2,2,1,3,1.0
Nidalee,Assasin,8,3,M,3,1,1,3,2.0
Mordekaiser,Warrior,8,2,M,3,2,1,1,2.0
Katarina,Mage-Assasin,10,3,M,3,1,1,3,1.0
Kassadin,Mage-Assasin,9,2,M,3,2,1,3,1.0
Karthus,Mage,10,2,M,3,1,1,1,2.0
Evelynn,Assasin,8,2,M,2,2,1,2,2.0